xsd_files/Generic/SGrGenTypeDefinitions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with Eclipse Modeling Tools - 2020-10 by Christoph Broennimann 
	(IBT Ing. Buero Broennimann Thun) -->
<!-- Copyright (c) Verein SmartGridready, Switzerland Version 0.2.2 2022-8-22 
	All Rights Reserved. Source: https://www.SmartGridready.ch/ -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sgr="http://www.smartgridready.com/ns/V0/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smartgridready.com/ns/V0/" version="0.2.2">

  <complexType name="SGrReleaseNotes">
    <annotation>
      <documentation xml:lang="en">
        Contains versioning, history and release states
      </documentation>
    </annotation>
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="state" type="sgr:SGrReleaseState" />
      <element maxOccurs="1" minOccurs="0" name="remarks" type="string" />
      <element maxOccurs="unbounded" minOccurs="0" name="changelog" type="sgr:SGrChangeLog" />
    </sequence>
  </complexType>
  <simpleType name="SGrReleaseState">
    <restriction base="string">
      <enumeration value="Draft" />
      <enumeration value="Review" />
      <enumeration value="Published" />
      <enumeration value="Revoked" />
    </restriction>
  </simpleType>
  <complexType name="SGrChangeLog">
    <sequence>
      <element name="version" type="string" />
      <element name="date" type="date" />
      <element name="author" type="string" />
      <element name="comment" type="string" />
    </sequence>
  </complexType>
  <simpleType name="SGrSpecialQualityReqType">
    <annotation>
      <documentation xml:lang="en">the special quality requirement
				describes a test to be applied like a quality certification for
				SmartMeters
			</documentation>
      <documentation xml:lang="de" />
    </annotation>
    <restriction base="string" />
  </simpleType>
  <!-- data value with precision range -->
  <simpleType name="SGrPrecisionType">
    <annotation>
      <documentation xml:lang="en"> Precision defines the accuracy
				of a data point either related to a measurement value, a simulation
				result or of a setpoint value
			</documentation>
      <documentation xml:lang="de"> Der Parameter Präzision
				definiert die Genauigkeit eines Messwertes, einer Simulation oder
				einer Stellgrössenumsetzung
			</documentation>
    </annotation>
    <restriction base="double">
      <minInclusive value="0.001" />
      <maxInclusive value="15" />
    </restriction>
  </simpleType>
  <!-- Namelist Type for listing the relevant name references -->
  <complexType name="SGrNamelistType">
    <annotation>
      <documentation xml:lang="en">a list of relevant namespaces
				list for to display names used in different standards like EEBUS,
				IEC6850,, SAREF4ENER etc this list type is used for devices,
				functional profiles and datapoints. This namespace naming framework
				is typically used by the SGr association in order to tailer web
				based information tools. This complex data type is intended to be
				extended for future relevant standarrds in order to secure
				information over technology live cycles
			</documentation>
      <documentation xml:lang="de"> List der für ein Profil
				relevanten Namen von benutzten Standards
			</documentation>
    </annotation>
    <sequence maxOccurs="1" minOccurs="1">
    	<element maxOccurs="1" minOccurs="0" name="sLV1Name"
    		type="string">
    		<annotation>
    			<documentation>
            Currently not used. Reserved for the future to secure legacy compatibility one we start renaming in future SGr label versions
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sWorkName"
    		type="string">
    		<annotation>
    			<documentation>
    				work names for temporary use
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sManufName"
    		type="string">
    		<annotation>
    			<documentation>
    				manufacturers may use an internal wording
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sIEC61850Name"
    		type="string">
    		<annotation>
    			<documentation>
    				IEC 61850 termonoligy place to add the 61850
    				abreviatuions if an overlap exists
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sSAREFName"
    		type="string">
    		<annotation>
    			<documentation>
    				SAREF for ENER termonoligy place to add the SAREF
    				abreviations if an overlap exists
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sEEBUSName"
    		type="string">
    		<annotation>
    			<documentation>
    				EEBUS for terminology place to add the EEBUS
    				abreviations if an overlap exists
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sSUNSPECName"
    		type="string">
    		<annotation>
    			<documentation>
    				sSUNSPEC for terminology place to add the
    				www.sunspec.org abreviations if an overlap exists
    			</documentation>
    		</annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="sHPbwpName"
    		type="string">
    		<annotation>
    			<documentation>
    				bwp (German Heat Pump Association) for terminology
    				place to add the bwp naming for HVAC if an overlap
    				exists
    			</documentation>
    		</annotation>
    	</element>
    	<element name="sEN17609Name" type="string" maxOccurs="1" minOccurs="0"></element>
    </sequence>
  </complexType>

  <!-- the basic data based used für the generic level of a communicator -->
  <complexType name="SGrBasicGenDataPointTypeType">
    <annotation>
      <documentation xml:lang="en"> These are the basic generic
				data types must remain high level definitions for to be supported.
				The definition focuses on the programming languages used at the
				level of the communicators. So far Java and Python.
			</documentation>
      <documentation xml:lang="de" />
      <documentation />
    </annotation>
    <choice>
    	<element maxOccurs="1" minOccurs="1" name="enum2bitmapIndex" type= "sgr:SGrBitmapperListType">
    	  <annotation>
          <documentation>bitmap for Registers (typical: Status Bits). For to be visible as generic boolean array or unsigned integer mapped in parallel towards one data single point definition. Depending on the TransportService,  this requires specialized sw coding.
          </documentation>
        </annotation>
    	</element>
    	<element maxOccurs="1" minOccurs="1" name="boolean"
    		type="boolean" />
    	<element maxOccurs="1" minOccurs="1" name="int8" type="byte" />
    	<element maxOccurs="1" minOccurs="1" name="int16" type="short" />
    	<element maxOccurs="1" minOccurs="1" name="int32"
    		type="integer" />
    	<element maxOccurs="1" minOccurs="1" name="int64" type="long" />
    	<element maxOccurs="1" minOccurs="1" name="int8U"
    		type="unsignedByte" />
    	<element maxOccurs="1" minOccurs="1" name="int16U"
    		type="unsignedShort" />
    	<element maxOccurs="1" minOccurs="1" name="int32U"
    		type="unsignedInt" />
    	<element maxOccurs="1" minOccurs="1" name="int64U"
    		type="unsignedLong" />
    	<element maxOccurs="1" minOccurs="1" name="float32"
    		type="float" />
    	<element maxOccurs="1" minOccurs="1" name="float64"
    		type="double" />
    	<element maxOccurs="1" minOccurs="1" name="enum"
    		type="sgr:SGrEnumListType" />
    	<element maxOccurs="1" minOccurs="1" name="dateTime"
    		type="dateTime" />
    	<element maxOccurs="1" minOccurs="1" name="string"
    		type="string" />
    	<!-- weitere aus IEC61850 übertragbare Datentypen: Achtung: Elemente müssen ohne "_" sein und mit Kleinbuschtsaben beginnen
    		<enumeration value="Dbpos"/> 
    		<enumeration value="Tcmd"/> <enumeration value="Quality"/> <enumeration value="VisString32"/> 
    		<enumeration value="VisString64"/> <enumeration value="VisString65"/> <enumeration 
    		value="VisString129"/> <enumeration value="VisString255"/> <enumeration value="Octet64"/> 
    		<enumeration value="Unicode255"/> <enumeration value="Struct"/> <enumeration 
    		value="EntryTime"/> <enumeration value="Check"/> <enumeration value="ObjRef"/> 
    		<enumeration value="Currency"/> <enumeration value="PhyComAddr"/> <enumeration 
    		value="TrgOps"/> <enumeration value="OptFlds"/> <enumeration value="SvOptFlds"/> 
    		<enumeration value="LogOptFlds"/> <enumeration value="EntryID"/> <enumeration 
    		value="Octet6"/> <enumeration value="Octet16"/> -->
    </choice>
  </complexType>


  <!-- enumeration to select mandatory, optional or recommended use of elements -->
  <simpleType name="SGrMROPresenceLevelIndicationType">
    <annotation>
      <documentation xml:lang="en"> Names for the presence
				indication of Elements listed in the tables are defined as follows
				(using the EEBUS terminology): "M" mandatotory use (IEC:SHALL), "R"
				recommended use (IEC:SHOULD) and "O" optional use (IEC:MAY)
			</documentation>
      <documentation xml:lang="de" />
      <documentation />
    </annotation>
    <restriction base="Name">
      <enumeration value="M" />
      <enumeration value="R" />
      <enumeration value="O" />
    </restriction>
  </simpleType>
  <!-- enumeration to select data direction (Read Write) and persistent storage 
		use of elements -->
  <simpleType name="SGrRWPType">
    <annotation>
      <documentation xml:lang="en"> Names for the data direction
				indication. "R" read only data, "W" rite only data, "RW" readible
				and writable data, "RWP" readible and writable data with persistent
				storage
			</documentation>
      <documentation xml:lang="de" />
      <documentation />
    </annotation>
    <restriction base="Name">
      <enumeration value="R" />
      <enumeration value="W" />
      <enumeration value="RW" />
      <enumeration value="RWP" />
    </restriction>
  </simpleType>
  <!-- create a new title as separator in between type definitions -->
  <complexType name="SGrLegibDocumentationType">
    <annotation>
      <documentation>This element us used to extend the definitions with
				legible text elements: a short understandbale explanation of the
				items addressed. These elements are used for printed and published
				information
			</documentation>
    </annotation>
    <sequence>
      <element name="textElement">
        <annotation>
          <documentation>information to be published</documentation>
        </annotation>
        <simpleType>
          <restriction base="string">
            <minLength value="0" />
            <maxLength value="4000" />
          </restriction>
        </simpleType>
      </element>
      <element name="language" type="sgr:SGrLanguageType">
        <annotation>
          <documentation>language identifier de, en, fr, it</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="uri" type="anyURI">
        <annotation>
          <documentation>URI pointong towards additional information
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="SGrLanguageType">
    <annotation>
      <documentation>this is the identification of the language for
				information to be published. So far en, de, fr and it is possible
			</documentation>
    </annotation>
    <restriction base="Name">
      <enumeration value="de" />
      <enumeration value="en" />
      <enumeration value="fr" />
      <enumeration value="it" />
    </restriction>
  </simpleType>
  <complexType name="SGrVersionNumberType">
    <annotation>
      <documentation>a three digit version mumber system.
			</documentation>
    </annotation>
    <sequence>
      <element name="primaryVersionNumber" type="int" />
      <element name="secondaryVersionNumber" type="int" />
      <element name="subReleaseVersionNumber" type="int" />
    </sequence>
  </complexType>
  <simpleType name="SGrDeviceKindType">
    <annotation>
      <documentation>Device Kind is inherited from EEBUS, a growing list of
				supported Devices
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Battery" />
      <enumeration value="Compressor" />
      <enumeration value="DeviceInformation" />
      <enumeration value="DHWCircuit" />
      <enumeration value="DHWStorage" />
      <enumeration value="Dishwasher" />
      <enumeration value="Dryer" />
      <enumeration value="ElectricalImmersionHeater" />
      <enumeration value="Fan" />
      <enumeration value="GasHeatingAppliance" />
      <enumeration value="Generic" />
      <enumeration value="HeatingBufferStorage" />
      <enumeration value="HeatingCircuit" />
      <enumeration value="HeatingObject" />
      <enumeration value="HeatingZone" />
      <enumeration value="HeatPumpAppliance" />
      <enumeration value="HeatSinkCircuit" />
      <enumeration value="HeatSourceCircuit" />
      <enumeration value="HeatSourceUnit" />
      <enumeration value="HVACController" />
      <enumeration value="HVACRoom" />
      <enumeration value="InstantDHWHeater" />
      <enumeration value="Inverter" />
      <enumeration value="OilHeatingAppliance" />
      <enumeration value="Pump" />
      <enumeration value="RefrigerantCircuit" />
      <enumeration value="SmartEnergyAppliance" />
      <enumeration value="SolarDHWStorage" />
      <enumeration value="SolarThermalCircuit" />
      <enumeration value="SubMeterElectricity" />
      <enumeration value="TemperatureSensor" />
      <enumeration value="Washer" />
      <enumeration value="BatterySystem" />
      <enumeration value="ElectricityGenerationSystem" />
      <enumeration value="ElectricityStorageSystem" />
      <enumeration value="SGCP">
        <annotation>
          <documentation>EEBUS: GridConnectionPointOfPremises</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Household" />
      <enumeration value="PVSystem" />
      <enumeration value="EV" />
      <enumeration value="EVSE" />
      <enumeration value="ChargingStation">
        <annotation>
          <documentation>EEBUS: ChargingOutlet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CEM" />
    </restriction>
  </simpleType>
  <simpleType name="SGrUnits">
    <restriction base="string">
      <enumeration value="AMPERE_SQUARE_METERS" />
      <enumeration value="AMPERES" />
      <enumeration value="AMPERES_PER_METER" />
      <enumeration value="AMPERES_PER_SQUARE_METER" />
      <enumeration value="BARS" />
      <enumeration value="BTUS" />
      <enumeration value="BTUS_PER_HOUR" />
      <enumeration value="BTUS_PER_POUND" />
      <enumeration value="BTUS_PER_POUND_DRY_AIR" />
      <enumeration value="CANDELAS" />
      <enumeration value="CANDELAS_PER_SQUARE_METER" />
      <enumeration value="CENTIMETERS" />
      <enumeration value="CENTIMETERS_OF_MERCURY" />
      <enumeration value="CENTIMETERS_OF_WATER" />
      <enumeration value="CUBIC_FEET" />
      <enumeration value="CUBIC_FEET_PER_MINUTE" />
      <enumeration value="CUBIC_FEET_PER_SECOND" />
      <enumeration value="CUBIC_METERS" />
      <enumeration value="CUBIC_METERS_PER_HOUR" />
      <enumeration value="CUBIC_METERS_PER_MINUTE" />
      <enumeration value="CUBIC_METERS_PER_SECOND" />
      <enumeration value="CURRENCY1" />
      <enumeration value="CURRENCY10" />
      <enumeration value="CURRENCY2" />
      <enumeration value="CURRENCY3" />
      <enumeration value="CURRENCY4" />
      <enumeration value="CURRENCY5" />
      <enumeration value="CURRENCY6" />
      <enumeration value="CURRENCY7" />
      <enumeration value="CURRENCY8" />
      <enumeration value="CURRENCY9" />
      <enumeration value="CYCLES_PER_HOUR" />
      <enumeration value="CYCLES_PER_MINUTE" />
      <enumeration value="DAYS" />
      <enumeration value="DEGREE_DAYS_CELSIUS" />
      <enumeration value="DEGREE_DAYS_FAHRENHEIT" />
      <enumeration value="DEGREES_ANGULAR" />
      <enumeration value="DEGREES_CELSIUS" />
      <enumeration value="DEGREES_CELSIUS_PER_HOUR" />
      <enumeration value="DEGREES_CELSIUS_PER_MINUTE" />
      <enumeration value="DEGREES_FAHRENHEIT" />
      <enumeration value="DEGREES_FAHRENHEIT_PER_HOUR" />
      <enumeration value="DEGREES_FAHRENHEIT_PER_MINUTE" />
      <enumeration value="DEGREES_KELVIN" />
      <enumeration value="DEGREES_KELVIN_PER_HOUR" />
      <enumeration value="DEGREES_KELVIN_PER_MINUTE" />
      <enumeration value="DEGREES_PHASE" />
      <enumeration value="DELTA_DEGREES_FAHRENHEIT" />
      <enumeration value="DELTA_DEGREES_KELVIN" />
      <enumeration value="FARADS" />
      <enumeration value="FEET" />
      <enumeration value="FEET_PER_MINUTE" />
      <enumeration value="FEET_PER_SECOND" />
      <enumeration value="FOOT_CANDLES" />
      <enumeration value="GIGAJOULES" />
      <enumeration value="GRAMS_OF_WATER_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="GRAMS_PER_MINUTE" />
      <enumeration value="GRAMS_PER_SECOND" />
      <enumeration value="HECTOPASCALS" />
      <enumeration value="HENRYS" />
      <enumeration value="HERTZ" />
      <enumeration value="HORSEPOWER" />
      <enumeration value="HOURS" />
      <enumeration value="HUNDREDTHS_SECONDS" />
      <enumeration value="IMPERIAL_GALLONS" />
      <enumeration value="IMPERIAL_GALLONS_PER_MINUTE" />
      <enumeration value="INCHES" />
      <enumeration value="INCHES_OF_MERCURY" />
      <enumeration value="INCHES_OF_WATER" />
      <enumeration value="JOULE_SECONDS" />
      <enumeration value="JOULES" />
      <enumeration value="JOULES_PER_DEGREE_KELVIN" />
      <enumeration value="JOULES_PER_KILOGRAM_DEGREE_KELVIN" />
      <enumeration value="JOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="KILO_BTUS" />
      <enumeration value="KILO_BTUS_PER_HOUR" />
      <enumeration value="KILOGRAMS" />
      <enumeration value="KILOGRAMS_PER_CUBIC_METER" />
      <enumeration value="KILOGRAMS_PER_HOUR" />
      <enumeration value="KILOGRAMS_PER_MINUTE" />
      <enumeration value="KILOGRAMS_PER_SECOND" />
      <enumeration value="KILOHERTZ" />
      <enumeration value="KILOOHMS" />
      <enumeration value="KILOJOULES" />
      <enumeration value="KILOJOULES_PER_DEGREE_KELVIN" />
      <enumeration value="KILOJOULES_PER_KILOGRAM" />
      <enumeration value="KILOJOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="KILOMETERS_PER_HOUR" />
      <enumeration value="KILOPASCALS" />
      <enumeration value="KILOVOLT_AMPERES" />
      <enumeration value="KILOVOLT_AMPERE_HOURS" />
      <enumeration value="KILOVOLT_AMPERES_REACTIVE" />
      <enumeration value="KILOVOLT_AMPERES_REACTIVE_HOURS" />
      <enumeration value="KILOVOLTS" />
      <enumeration value="KILOWATT_HOURS" />
      <enumeration value="KILOWATTS" />
      <enumeration value="KW_HOURS_PER_SQUARE_FOOT" />
      <enumeration value="KW_HOURS_PER_SQUARE_METER" />
      <enumeration value="LITERS" />
      <enumeration value="LITERS_PER_HOUR" />
      <enumeration value="LITERS_PER_MINUTE" />
      <enumeration value="LITERS_PER_SECOND" />
      <enumeration value="LUMENS" />
      <enumeration value="LUXES" />
      <enumeration value="MEGA_BTUS" />
      <enumeration value="MEGAHERTZ" />
      <enumeration value="MEGAJOULES" />
      <enumeration value="MEGAJOULES_PER_DEGREE_KELVIN" />
      <enumeration value="MEGAJOULES_PER_KILOGRAM_DRY_AIR" />
      <enumeration value="MEGAJOULES_PER_SQUARE_FOOT" />
      <enumeration value="MEGAJOULES_PER_SQUARE_METER" />
      <enumeration value="MEGAVOLT_AMPERES" />
      <enumeration value="MEGAVOLT_AMPERES_REACTIVE" />
      <enumeration value="MEGAVOLTS" />
      <enumeration value="MEGAWATT_HOURS" />
      <enumeration value="MEGAWATTS" />
      <enumeration value="MEGOHMS" />
      <enumeration value="METERS" />
      <enumeration value="METERS_PER_HOUR" />
      <enumeration value="METERS_PER_MINUTE" />
      <enumeration value="METERS_PER_SECOND" />
      <enumeration value="METERS_PER_SECOND_PER_SECOND" />
      <enumeration value="MILES_PER_HOUR" />
      <enumeration value="MILLIAMPERES" />
      <enumeration value="MILLIBARS" />
      <enumeration value="MILLIMETERS" />
      <enumeration value="MILLIMETERS_OF_MERCURY" />
      <enumeration value="MILLIMETERS_PER_MINUTE" />
      <enumeration value="MILLIMETERS_PER_SECOND" />
      <enumeration value="MILLIOHMS" />
      <enumeration value="MILLISECONDS" />
      <enumeration value="MILLIVOLTS" />
      <enumeration value="MILLIWATTS" />
      <enumeration value="MINUTES" />
      <enumeration value="MONTHS" />
      <enumeration value="NEWTON" />
      <enumeration value="NEWTON_METERS" />
      <enumeration value="NEWTON_SECONDS" />
      <enumeration value="NEWTONS_PER_METER" />
      <enumeration value="NO_UNITS" />
      <enumeration value="OHM_METERS" />
      <enumeration value="OHMS" />
      <enumeration value="PARTS_PER_BILLION" />
      <enumeration value="PARTS_PER_MILLION" />
      <enumeration value="PASCALS" />
      <enumeration value="PER_HOUR" />
      <enumeration value="PER_MINUTE" />
      <enumeration value="PER_SECOND" />
      <enumeration value="PERCENT" />
      <enumeration value="PERCENT_OBSCURATION_PER_FOOT" />
      <enumeration value="PERCENT_OBSCURATION_PER_METER" />
      <enumeration value="PERCENT_PER_SECOND" />
      <enumeration value="PERCENT_RELATIVE_HUMIDITY" />
      <enumeration value="POUNDS_FORCE_PER_SQUARE_INCH" />
      <enumeration value="POUNDS_MASS" />
      <enumeration value="POUNDS_MASS_PER_HOUR" />
      <enumeration value="POUNDS_MASS_PER_MINUTE" />
      <enumeration value="POUNDS_MASS_PER_SECOND" />
      <enumeration value="POWER_FACTOR" />
      <enumeration value="PSI_PER_DEGREE_FAHRENHEIT" />
      <enumeration value="RADIANS" />
      <enumeration value="RADIANS_PER_SECOND" />
      <enumeration value="REVOLUTIONS_PER_MINUTE" />
      <enumeration value="SECONDS" />
      <enumeration value="SIEMENS" />
      <enumeration value="SIEMENS_PER_METER" />
      <enumeration value="SQUARE_CENTIMETERS" />
      <enumeration value="SQUARE_FEET" />
      <enumeration value="SQUARE_INCHES" />
      <enumeration value="SQUARE_METERS" />
      <enumeration value="SQUARE_METERS_PER_NEWTON" />
      <enumeration value="TESLAS" />
      <enumeration value="THERMS" />
      <enumeration value="TON_HOURS" />
      <enumeration value="TONS" />
      <enumeration value="TONS_PER_HOUR" />
      <enumeration value="TONS_REFRIGERATION" />
      <enumeration value="US_GALLONS" />
      <enumeration value="US_GALLONS_PER_MINUTE" />
      <enumeration value="VOLT_AMPERES" />
      <enumeration value="VOLT_AMPERES_REACTIVE" />
      <enumeration value="VOLTS" />
      <enumeration value="VOLTS_PER_DEGREE_KELVIN" />
      <enumeration value="VOLTS_PER_METER" />
      <enumeration value="WATT_HOURS" />
      <enumeration value="WATTS" />
      <enumeration value="WATTS_PER_METER_PER_DEGREE_KELVIN" />
      <enumeration value="WATTS_PER_SQUARE_FOOT" />
      <enumeration value="WATTS_PER_SQUARE_METER" />
      <enumeration value="WATTS_PER_SQUARE_METER_DEGREE_KELVIN" />
      <enumeration value="WEBERS" />
      <enumeration value="WEEKS" />
      <enumeration value="YEARS" />
      <enumeration value="NONE" />
    </restriction>
  </simpleType>
  <complexType name="SGrScalingType">
    <annotation>
      <documentation>scaled_value = value * multiplicator * 10^powerof10
				This type is used for to convert intereger datapoint values into
				floats only
			</documentation>
    </annotation>
    <sequence>
      <element name="multiplicator" type="int" />
      <element name="powerof10" type="int" />
    </sequence>
  </complexType>

  <simpleType name="SGrTransportServicesUsedListType">
    <restriction base="string">
      <enumeration value="EEBUS" />
      <enumeration value="Modbus" />
      <enumeration value="OCPP1.6" />
      <enumeration value="OCPP2.01" />
      <enumeration value="RESTfulJSON" />
      <enumeration value="Contacts" />
      <enumeration value="WoT" />
      <enumeration value="proprietary" />
      <enumeration value="generic" />
    </restriction>
  </simpleType>

  <!--  generic Attribute Definitions  -->
  <complexType name="SGrAttr4GenericType">
    <annotation>
      <documentation>these attributes are defined for the generic interface
				for the application programmer. An attribute can be aligned to
				either a device, a functional Profile or a datapoint
			</documentation>
    </annotation>
    <all>
      <element maxOccurs="1" minOccurs="0" name="maxVal" type="float">
        <annotation>
          <documentation> upper range limit. Unit:inherited
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="minVal" type="float">
        <annotation>
          <documentation> lower range limit. Unit:inherited
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="specQualityRequirement" type="sgr:SGrSpecialQualityReqType">
        <annotation>
          <documentation> indicates Quality requirements fullfilled like
						formal certifications
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="precision" type="sgr:SGrPrecisionType">
        <annotation>
          <documentation> the precision of a measurement, calculation result
						or result of a controls process
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="stabilityFallback" type="sgr:SGrStabilityFallbackType">
        <annotation>
          <documentation> A consumer or a generating system receives the
						permit for a load change for a certain period of time. This time
						is always set to 0 each time a confirmation message is received
						(HeartBeat).
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="smoothTransition" type="sgr:SGrSmoothTransitionType">
        <annotation>
          <documentation> The time behavior of a transition from a power
						adjustment (positive as well as negative) can be determined by
						several time values, so that this starts with a random time delay,
						changes via a ramp and an expiry time with return to the initial
						value.
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="maxLatencyTimeMs" type="unsignedLong">
        <annotation>
          <documentation> Maximum time in milliseconds from capturing of measured value 
            until ready at the external interface (i.e. analog-digital conversion time)
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="valueType" type="sgr:SGrMeasValueType">
        <annotation>
          <documentation> MeasValueType: type of measurement. Possbile values are "value", "min", max", "average", "stdDev"</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="valueSource" type="sgr:SGrMeasValueSourceType">
        <annotation>
          <documentation> Value source kind related to SGr level 6
						applications. Potential values are measuredValue, calculatedValue,
						empiricalValue
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="sampleRate" type="unsignedLong">
        <annotation>
          <documentation> SampleRate in milliseconds
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="curtailment" type="float" />
      <element maxOccurs="1" minOccurs="0" name="minLoad" type="float" />
      <element maxOccurs="1" minOccurs="0" name="maxLockTimeMinutes" type="float" />
      <element maxOccurs="1" minOccurs="0" name="minRunTimeMinutes" type="float" />
      <element maxOccurs="1" minOccurs="0" name="valueByTimeTableMinutes" type="float" />
      <element maxOccurs="1" minOccurs="0" name="flexAssistance" type="sgr:SGrFlexAssistanceType">
        <annotation>
          <documentation> Systems with more than One communicator need a definition of the priority of the commands / demands for a flexibility
          requirement.
          This element defines the kind of a such a command (servicable for net (DSO), energy or system (TNO)) and its priority (SHALL / SHOULD / MAY)
		 </documentation>
        </annotation>
      </element>
    </all>
  </complexType>
  <complexType name="SGrStabilityFallbackType">
    <annotation>
      <documentation>A consumer or a generating system receives the permit
				for a load change for a certain period of time. This time is always
				set to 0 each time a confirmation message is received (HeartBeat).
			</documentation>
    </annotation>
    <sequence>
      <element name="maxReceiveTime" type="float" >
        <annotation>
          <documentation>Time in seconds. If the device does not recieve any communication within this specified time the device automatically initiates the fallback. 0 indicates no fallback will be performed.</documentation>
        </annotation>
      </element>
      <element name="initValue" type="float">
        <annotation>
          <documentation>Value of the reference variable at the start of the
						process cycle. Unit: inherited
					</documentation>
        </annotation>
      </element>
      <element name="fallbackValue" type="float">
        <annotation>
          <documentation>Value of the reference variable in the event of a
						communication failure . Unit:inherited
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SGrSmoothTransitionType">
    <annotation>
      <documentation>The time behavior of a transition from a power
				adjustment (positive as well as negative) can be determined by
				several time values, so that this starts with a random time delay,
				changes via a ramp and an expiry time with return to the initial
				value.
			</documentation>
    </annotation>
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="winTms" type="unsignedLong">
        <annotation>
          <documentation>indicates a time window in seconds in which the new operating
						mode is started randomly. The time window begins with the start
						command of the operating mode. The value 0 means immediate
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="rvrtTms" type="unsignedLong">
        <annotation>
          <documentation>determines how long the operating mode should be
						active in seconds. When the time has elapsed, the operating mode is
						automatically terminated. If rvrtTms = 0 (standard value), the
						operating mode remains active until a new command is received.
					</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="rmpTms" type="unsignedLong">
        <annotation>
          <documentation>specifies how quickly the changes should be made in seconds.
						The corresponding value is gradually changed from the old to the
						new value in the specified time.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SGrFlexAssistanceType">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="assists" type="sgr:SGrSGCPServiceType" />
      <element maxOccurs="1" minOccurs="1" name="obliged_to" type="sgr:SGrObligLvlType" />
    </sequence>
  </complexType>


  <!--  generic Enumeration Definitions  -->

  <simpleType name="SGrMeasValueType">
    <restriction base="string">
      <enumeration value="value" />
      <enumeration value="min" />
      <enumeration value="max" />
      <enumeration value="average" />
      <enumeration value="stdDev" />
    </restriction>
  </simpleType>
  <simpleType name="SGrMeasValueSourceType">
    <annotation>
      <documentation>E0003</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="measuredValue" />
      <enumeration value="calculatedValue" />
      <enumeration value="empiricalValue" />
    </restriction>
  </simpleType>
  <simpleType name="SGrPowerSourceType">
    <annotation>
      <documentation>E0004</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="unknown" />
      <enumeration value="mains1Phase" />
      <enumeration value="mains3Phase" />
      <enumeration value="battery" />
      <enumeration value="dc" />
    </restriction>
  </simpleType>
  <simpleType name="SGReadyStateLv2Type">
    <annotation>
      <documentation>E0005 SG-Ready states according the German heatpump
				association bwp normal, intensified, EVU_LOCK, forced
				https://www.waermepumpe.de/normen-technik/sg-ready/
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NORMAL">
        <annotation>
          <documentation>Normal operation, optimized according to customer
						requirements
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_INTENSIFIED">
        <annotation>
          <documentation>Increased operation</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_LOCKED">
        <annotation>
          <documentation> Locked operation for a maximum of 2 hours
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_FORCED">
        <annotation>
          <documentation>Start command</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SGReadyStateLv1Type">
    <annotation>
      <documentation>E0006 simple heat pump blocking
				association bwp normal,EVU_LOCK
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HP_NORMAL">
        <annotation>
          <documentation> Normal operation, optimized according to customer
						requirements
					</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HP_LOCK">
        <annotation>
          <documentation> Locked operation for a maximum of 2 hours
					</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SGrSunspStateCodesType">
    <annotation>
      <documentation> E0007 : SunspecInvStates I_STATUS_OFF,
				I_STATUS_SLEEPING , I_STATUS_STARTING ,I_STATUS_MPPT ,
				I_STATUS_THROTTLED, I_STATUS_SHUTING_DOWN ,I_STATUS_FAULT ,
				I_STATUS_STANDBY
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="I_STATUS_OFF" />
      <enumeration value="I_STATUS_SLEEPING" />
      <enumeration value="I_STATUS_STARTING" />
      <enumeration value="I_STATUS_MPPT" />
      <enumeration value="I_STATUS_THROTTLED" />
      <enumeration value="I_STATUS_SHUTING_DOWN" />
      <enumeration value="I_STATUS_FAULT" />
      <enumeration value="I_STATUS_STANDBY" />
    </restriction>
  </simpleType>
  <simpleType name="SGrEVSEStateLv2Type">
    <annotation>
      <documentation> E0008 : 0:0 = EV_NORMAL, 0:1 = EV_REDUCED , 1:0 =
				EV_MINIMAL , 1:1 = EV_NONE_OR_FEEDIN
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_NORMAL" />
      <enumeration value="EV_REDUCED" />
      <enumeration value="EV_MINIMAL" />
      <enumeration value="EV_NONE_OR_FEEDIN" />
    </restriction>
  </simpleType>
  <simpleType name="SGrEVSEStateLv1Type">
    <annotation>
      <documentation> E0009 : 0 = EV_NORMAL, 1 = EV_REDUCED
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_NORMAL" />
      <enumeration value="EV_REDUCED" />
    </restriction>
  </simpleType>
  <simpleType name="SGrSGCPLoadStateLv2Type">
    <annotation>
      <documentation> E0010 : 0:0 = LD_NORMAL, 0:1 = LD_REDUCED , 1:0 =
				LD_LOCKED , 1:1 = LD_MAX
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LD_NORMAL" />
      <enumeration value="LD_REDUCED" />
      <enumeration value="LD_LOCKED" />
      <enumeration value="LD_MAX" />
    </restriction>
  </simpleType>
  <simpleType name="SGrSGCPFeedInStateLv2Type">
    <annotation>
      <documentation> E0011 : 0:0 = FI_NORMAL, 0:1 = FI_REDUCED , 1:0 =
				FI_LOCKED , 1:1 = FI_MAX
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FI_NORMAL" />
      <enumeration value="FI_REDUCED" />
      <enumeration value="FI_LOCKED" />
      <enumeration value="FI_MAX" />
    </restriction>
  </simpleType>
  <simpleType name="SGrEVStateType">
    <annotation>
      <documentation>E0012 IEC EVSE_61851_State  for Wallbox
      A: standby, 
      B: vehicle detected, 
      C: ready (charging), 
      D: with ventilation, 
      E: no power (shut off), 
      F: error
	 </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EV_STATE_UNDEF" />
      <enumeration value="EV_STANDBY" />
      <enumeration value="EV_DETECTED" />
      <enumeration value="EV_READY4CHARGING" />
      <enumeration value="EV_WITHFAN" />
      <enumeration value="EV_SHUTOFF" />
      <enumeration value="EV_ERROR" />
    </restriction>
  </simpleType>
  <simpleType name="SGrSGCPServiceType">
    <annotation>
      <documentation>E0013: Assistance type of a reaction / function. This Attribute indicates the type of Flexibility Entity of the operation 
      NET  servicable: Operation for the benefit of a distribution network operator (DSO) 
      SYS  servicable: Operation of the total system operators (TSO) 
      ENER servicable: Operation for energy optimization
    </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="AT_NetServicable" />
      <enumeration value="AT_SysServicable" />
      <enumeration value="AT_EnerServicable" />
    </restriction>
  </simpleType>
  <simpleType name="SGrObligLvlType">
    <annotation>
      <documentation>E0014:  Obligation level of a reaction / function.
      SHALL:  action is required
      SHOULD: action is strongly recommended
      MAY: action is permitted
    </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="OL_SHALL" />
      <enumeration value="OL_SHOULD" />
      <enumeration value="OL_MAY" />
    </restriction>
  </simpleType>

  <simpleType name="SGrOCPPStateType">
    <annotation>
      <documentation>E0015:
	Available (0): 
	  When a Connector becomes available for a new
	  user (Operative)
	  
	Charging (1): 
	  When the contactor of a Connector closes,
	  allowing the vehicle to charge
	(Operative)

	Preparing(not yet observed ?): 
	  When a Connector becomes no longer available
	  for a new user but no charging session is active.
	  Typically a Connector is occupied when a user
	  presents a tag, inserts a cable or a vehicle
	  occupies the parking bay
	  (Operative)

	Finishing(not yet observed ?): 
	  When a charging session has stopped at a
	  Connector, but the Connector is not yet available
	  for a new user, e.g. the cable has not been
	  removed or the vehicle has not left the parking
	  bay
	  (Operative)

	Reserved(not yet observed ?): 
	  When a Connector becomes reserved as a result of
	  a Reserve Now command
	  (Operative)
	
	Unavailable(not yet observed ?): 
	  When a Connector becomes unavailable as the
	  result of a Change Availability command or an
	  event upon which the Charge Point transitions to
	  unavailable at its discretion. Upon receipt of a
	  Change Availability command, the status MAY
	  change immediately or the change MAY be
	  scheduled. When scheduled, the Status
	  Notification shall be send when the availability
	  change becomes effective
	  (Inoperative)

	Faulted(not yet observed ?): 
	  When a Charge Point or connector has reported
	  an error and is not available for energy delivery .
	  (Inoperative).
	
	SuspendedEVSE (7): 
	  When the contactor of a Connector opens upon
	  request of the EVSE, e.g. due to a smart charging
	  restriction or as the result of
	  StartTransaction.conf indicating that charging is
	  not allowed
	  (Operative)

	SuspendedEV(8): 
	  When the EVSE is ready to deliver energy but
	  contactor is open, e.g. the EV is not ready.
	  (Operative)
	
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Available" />
      <enumeration value="Charging" />
      <enumeration value="Preparing" />
      <enumeration value="Finishing" />
      <enumeration value="Reserved" />
      <enumeration value="Unavailable" />
      <enumeration value="Faulted" />
      <enumeration value="SuspendedEVSE" />
      <enumeration value="SuspendedEV" />
    </restriction>
  </simpleType>
  <simpleType name="SGrHPOpModeType">
    <annotation>
      <documentation>E0016:
     Basic operation type of a heat pump
     Bereitschaft, Programm, Komfort, Eco, Warmwasser, Notbetrieb     
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="WP_EMERG_OP" />
      <enumeration value="WP_READY" />
      <enumeration value="WP_PROG_OP" />
      <enumeration value="WP_COMFORT_OP" />
      <enumeration value="WP_ECO_OP" />
      <enumeration value="WP_DOM_WATER_OP" />
      <enumeration value="WP_COOL_ACTIVE_OP" />
      <enumeration value="WP_COOL_PASSIVE_OP" />
    </restriction>
  </simpleType>
  <simpleType name="SGrHCOpModeType">
    <annotation>
      <documentation>E0017:
     Basic operation type of a heat cool valve operation mode
     Bereitschaft, Programm, Komfort, Eco, Warmwasser, Kühlen     
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HC_OFF" />				
      <enumeration value="HC_READY" />
      <enumeration value="HC_PROG_OP" />
      <enumeration value="HC_COMFORT_OP" />
      <enumeration value="HC_ECO_OP" />
    </restriction>
  </simpleType>
  <simpleType name="SGrDHWOpModeType">
    <annotation>
      <documentation>E0018:
     Basic operation type of a Domestic Hot Water Heat Pump operation mode
     Standby	week 1 	week 2		Constant		Eco mode    
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DHW_STANDBY" />
      <enumeration value="DHW_SCHEDULE_1_OP" />
      <enumeration value="DHW_SCHEDULE_2_OP" />
      <enumeration value="DHW_CONST_OP" />
      <enumeration value="DHW_ECO_OP" />
    </restriction>
  </simpleType>
  <simpleType name="ctaDHWOpModeType">
    <annotation>
      <documentation>E0019:
     Basic operation type of CTA Domestic Hot Water Heat Pump operation mode
      	ON OFF Push  temporary-off emergency-op      
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DHW_UNDEF" />
      <enumeration value="DHW_ON" />
      <enumeration value="DHW_OFF" />
      <enumeration value="DHW_PUSH" />
      <enumeration value="DHW_TMP_OFF" />
      <enumeration value="DHW_EMERGENCY" />
    </restriction>
  </simpleType>


  <complexType name="SGrEnumListType">
    <choice>
      <element maxOccurs="1" minOccurs="1" name="sgrMeasValueSource" type="sgr:SGrMeasValueSourceType" />
      <element maxOccurs="1" minOccurs="1" name="sgrPowerSource" type="sgr:SGrPowerSourceType" />
      <element maxOccurs="1" minOccurs="1" name="sgreadyStateLv2" type="sgr:SGReadyStateLv2Type" />
      <element maxOccurs="1" minOccurs="1" name="sgreadyStateLv1" type="sgr:SGReadyStateLv1Type" />
      <element maxOccurs="1" minOccurs="1" name="sgrSunspStateCodes" type="sgr:SGrSunspStateCodesType" />
      <element maxOccurs="1" minOccurs="1" name="sgrEVSEStateLv2" type="sgr:SGrEVSEStateLv2Type" />
      <element maxOccurs="1" minOccurs="1" name="sgrEVSEStateLv1" type="sgr:SGrEVSEStateLv1Type" />
      <element maxOccurs="1" minOccurs="1" name="sgrSGCPLoadStateLv2" type="sgr:SGrSGCPLoadStateLv2Type" />
      <element maxOccurs="1" minOccurs="1" name="sgrSGCPFeedInStateLv2" type="sgr:SGrSGCPFeedInStateLv2Type" />
      <element maxOccurs="1" minOccurs="1" name="sgrEVState" type="sgr:SGrEVStateType" />
      <element maxOccurs="1" minOccurs="1" name="sgrSGCPService" type="sgr:SGrSGCPServiceType" />
      <element maxOccurs="1" minOccurs="1" name="sgrObligLvl" type="sgr:SGrObligLvlType" />
      <element maxOccurs="1" minOccurs="1" name="sgrOCPPState" type="sgr:SGrOCPPStateType" />
      <element maxOccurs="1" minOccurs="1" name="sgrHPOpMode" type="sgr:SGrHPOpModeType" />
      <element maxOccurs="1" minOccurs="1" name="sgrHCOpMode" type="sgr:SGrHCOpModeType" />
      <element maxOccurs="1" minOccurs="1" name="sgrDHWOpMode" type="sgr:SGrDHWOpModeType" />
      <element maxOccurs="1" minOccurs="1" name="ctaDHWOpMode" type="sgr:ctaDHWOpModeType" />
    </choice>
  </complexType>

  <simpleType name="SGrBool2BitRankType">
    <annotation>
      <documentation>BM0001:
     BitRank map for bitfiedl32
	</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Bit0" />
      <enumeration value="Bit1" />
      <enumeration value="Bit2" />
      <enumeration value="Bit3" />
      <enumeration value="Bit4" />
      <enumeration value="Bit5" />
      <enumeration value="Bit6" />
      <enumeration value="Bit7" />
      <enumeration value="Bit8" />
      <enumeration value="Bit9" />
      <enumeration value="Bit10" />
      <enumeration value="Bit11" />
      <enumeration value="Bit12" />
      <enumeration value="Bit13" />
      <enumeration value="Bit14" />
      <enumeration value="Bit15" />
      <enumeration value="Bit16" />
      <enumeration value="Bit17" />
      <enumeration value="Bit18" />
      <enumeration value="Bit19" />
      <enumeration value="Bit20" />
      <enumeration value="Bit21" />
      <enumeration value="Bit22" />
      <enumeration value="Bit23" />
      <enumeration value="Bit24" />
      <enumeration value="Bit25" />
      <enumeration value="Bit26" />
      <enumeration value="Bit27" />
      <enumeration value="Bit28" />
      <enumeration value="Bit29" />
      <enumeration value="Bit30" />
      <enumeration value="Bit31" />
    </restriction>
  </simpleType>  
  <simpleType name="SGrHPOpstateType">
    <annotation>
      <documentation>BM0002:
     BitRank map for interoperable Heat Pump 
	</documentation>
	</annotation>
    <restriction base="string">
      <enumeration value="HP_PUMP_ON" />
      <enumeration value="HP_IN_HEATING_MODE" />
      <enumeration value="HP_IN_DHW_MODE" />
      <enumeration value="COMPRESSOR_RUNNING" />
      <enumeration value="SUMMER_MODE_ACTIVE" />
      <enumeration value="COOLING_MODE_ACTIVE" />
      <enumeration value="IN_DEFROST_MODE" />
    </restriction>
  </simpleType>   
  <simpleType name="stiHPOpstateStiebelType">
    <annotation>
      <documentation>BM0003:
     BitRank map for Heat Pump Stiebel-Eltron
	</documentation>
	</annotation>
    <restriction base="string">
      <enumeration value="HP_1_PUMP_ON" />
      <enumeration value="HP_2_PUMP_ON" />
      <enumeration value="HEATUP_PROGRAM" />
      <enumeration value="NHZ_STAGES_RUNNING" />
      <enumeration value="HP_IN_HEATING_MODE" />
      <enumeration value="HP_IN_DHW_MODE" />
      <enumeration value="COMPRESSOR_RUNNING" />
      <enumeration value="SUMMER_MODE_ACTIVE" />
      <enumeration value="COOLING_MODE_ACTIVE" />
      <enumeration value="MIN_ONE_IWS_IN_DEFROST_MODE" />
      <enumeration value="SILENT_MODE_1_ACTIVE" />
      <enumeration value="SILENT_MODE_2_ACTIVE" />
    </restriction>
  </simpleType>  
  
  <simpleType name="sgrHCOpStateType">
    <annotation>
      <documentation>BM0004:
     BitRank map for HeatPump HeatCoolState
	</documentation>
	</annotation>
    <restriction base="string">
      <enumeration value="HC_OFF" />
		<enumeration value="HC_HEAT" />
		<enumeration value="HC_HEAT_COMFORT" />
		<enumeration value="HC_HEAT_ECO" />
		<enumeration value="HC_DEFROST" />
		<enumeration value="HC_INTESIVIED_50p" />
		<enumeration value="HC_REDUCED_50p" />
		<enumeration value="HC_HOLIDAY" />
		<enumeration value="HC_PARTY_HEAT" />
		<enumeration value="HC_COOL" />
		<enumeration value="HC_COOL_COMFORT" />
		<enumeration value="HC_COOL_ECO" />
		<enumeration value="HC_ERROR" />
		<enumeration value="HC_MANUAL" />
		<enumeration value="HC_PROT_COOL" />
		<enumeration value="HC_PARTY_COOL" />
		<enumeration value="HC_DRYING_HEAT_UP" />
		<enumeration value="HC_DRYING_STATIONARY" />
		<enumeration value="HC_DRYING_COOL_DOWN" />
		<enumeration value="HC_DRYING_FINAL" />
		<enumeration value="HC_COOL_EXTERNAL_CMD" />
		<enumeration value="HC_HEAT_EXTERNAL_CMD" />
		<enumeration value="HC_SGRID_INTENSIVIED"/>
    </restriction>
  </simpleType>    
  <simpleType name="SGrHPActBufferStateType">
    <annotation>
      <documentation>BM0005:
     BitRank map for Heat Pump Buffer state 
     source: Hoval  (ER) means "Entladeregelung"
     Bit0 = keine Anforderung, AUS
     Bit0 = (ER) keine Anforderung (WEZ-Freigabe)
     Bit1 = Anforderung, Temp. tief, PLP aus (Entladeschutz)
     Bit2 = Anforderung, Ladung läuft
     Bit2 = (ER) Anforderung, Sollwert nicht erfüllt, UPE steht Richtung WEZ bzw. YPEL regelt stetig auf PEF
     Bit3 = Anforderung, Sollwert erfüllt, Nachlauf aktiv
     Bit3 = (ER) Anforderung UPE-Umschaltverzögerung, UPE/YPEL steht Richtung WEZ
     Bit4 = Anforderung, Sollwert erfüllt
     Bit4 = (ER) Anforderung, Sollwert erfüllt, UPE/YPEL steht Richtung Puffer
     Bit6 = Energiezwang
     Bit7=  Abschöpffunktion
     Bit8 = (ER)Vorzugsbetrieb SmartGrid
     Bit9 = (ER)Abnahmezwang Smart Grid
	</documentation>
	</annotation>
    <restriction base="string">
      <enumeration value="HPB_OFF" />
      <enumeration value="HPB_TEMP_LOW" />
      <enumeration value="HPB_RUNNING" />
      <enumeration value="HPB_RUN_HOLD" />
      <enumeration value="HPB_ON_TARGET" />
      <enumeration value="HPB_RESERVE" />
      <enumeration value="HPB_ENER_COMPULSION" />
      <enumeration value="HPB_SKIMMING" />
      <enumeration value="HPB_SGR_INTENSIVIED" />
      <enumeration value="HPB_SGR_FORCED_" />
    </restriction>
  </simpleType>   
  
  <complexType name="SGrBitmapperListType">
    <annotation>
      <documentation>BMxxxx:
     Field of enumeration where endum index is used as bitmap flag
     Unsigned int value  [and]  ( 1 [2 *  shift left] enum_index_value means bit is set
	</documentation>
	</annotation>
    <choice>
      <element maxOccurs="1" minOccurs="1" name="sgrBool2BitRank" type="sgr:SGrBool2BitRankType" />
      <element maxOccurs="1" minOccurs="1" name="sgrHPOpstate" type="sgr:SGrHPOpstateType" />
      <element maxOccurs="1" minOccurs="1" name="stiHPOpstateStiebel" type="sgr:stiHPOpstateStiebelType" />
      <element maxOccurs="1" minOccurs="1" name="sgrHCOpstate" type="sgr:sgrHCOpStateType" />
      <element maxOccurs="1" minOccurs="1" name="sgrHPActBufferState" type="sgr:SGrHPActBufferStateType" />
    </choice>
  </complexType>
</schema>